In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame([['Anna', 23, 3],
             ['Sam', 36, 12],
             ['Bill', 33, 10],
             ['Moica', 25, 7],
             ['Lisa', 27, 7],
             ['Peter', 32, None]])

In [5]:
df

       0   1     2
0   Anna  23   3.0
1    Sam  36  12.0
2   Bill  33  10.0
3  Moica  25   7.0
4   Lisa  27   7.0
5  Peter  32   NaN

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df[0]

0     Anna
1      Sam
2     Bill
3    Moica
4     Lisa
5    Peter
Name: 0, dtype: object

In [8]:
df.columns = ['one','two','three']

In [10]:
df.iloc[1,1]

36