In [1]:
import numpy as np
import pandas as pd
import random
from statsmodels.stats.proportion import proportions_ztest

parf = pd.read_csv('./parfume.csv')
parf.head()

   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
2           3  3   3   22  control     2
3           4  4   4   18  control     1
4           5  5   5   23  control     0

In [2]:
parf = parf.loc[parf['vote'] != 2]
parf.head()

   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
3           4  4   4   18  control     1
4           5  5   5   23  control     0
5           6  6   6   18  control     1

In [3]:
control = parf.loc[parf['group'] == 'control']
test = parf.loc[parf['group'] == 'test']
print(test.head())
print(control.head())

     Unnamed: 0    X   id  age group  vote
124         125  125  125   22  test     1
125         126  126  126   23  test     0
126         127  127  127   24  test     0
127         128  128  128   24  test     1
128         129  129  129   23  test     1
   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
3           4  4   4   18  control     1
4           5  5   5   23  control     0
5           6  6   6   18  control     1

In [4]:
p_test = test['vote'].mean()
p_control = control['vote'].mean()
p_test - p_control

0.22326293235384148

In [5]:
ns_control = sum(control['vote'])
ns_test = sum(test['vote'])
ns_control_len = control.shape[0]
ns_test_len = test.shape[0]
n = min(ns_control_len, ns_test_len)

In [6]:
count = np.array([control['vote'][0:n].sum(), test['vote'][0:n].sum()])

In [7]:
nobs = np.array([n, n])

In [8]:
proportions_ztest(count, nobs)

(-3.4831671024730886, 0.000495518964408123)

чернобелая реклама лучше тк 0.000495518964408123 меньше 5ти процентов